.place__title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  
  margin: 0;
  padding: 0;
  max-width: 690px;
  display: flex;
  text-align: left;
  }

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: calc(42px + (72 - 42) * ((100vw - 768px) / (1024 - 768)));
    line-height: calc(46px + (76 - 46)  * ((100vw - 768px) / (1024 - 768)));
    padding-right: 14.5px;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    max-width: 288px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: calc(35px + (42 - 35) * ((100vw - 320px) / (768 - 320)));
    line-height: calc(35px + (46 - 35)  * ((100vw - 320px) / (768 - 320)));
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
  }
}
/*
margin-top: calc(88px + (92 - 88)*((100vw - 767px) / (1024 - 767)));
margin-top: 64px;

  margin-top: 92px;