.intro__item {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    list-style: none;

    padding: 0;
    margin-bottom: 92px;
    max-width: 690px;
}

@media screen and (max-width: 1023px) {
    .intro__item {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
    .intro__item {
    max-width: 288px;
    font-size: 16px;
  }
}