.place__image {
    grid-area: image;
    max-width: 460px;
    max-height: 460px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
/*
@media screen and (max-width: 1279px) {
    .place__image {
      max-width: 440px;
      max-height: 440px;
    }
   }
  
  @media screen and (max-width: 1023px) {
    .place__image {
      max-width: 340px;
      max-height: 340px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .place__image {
      max-width: 320px;
      max-height: 320px;
    }
  }