.lead {
  max-width: 984px;
  min-width: 320px;
  margin: 0;
  padding: 0;
  margin-top: 56px;
  margin-left: 148px;
  margin-right: 148px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1279px) {
    .lead {
      max-width: calc(928px + (984 - 928) * ((100vw - 1024px) / (1280 - 1024)));
      margin-top: 48px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  
  @media screen and (max-width: 1023px) {
    .lead {
      max-width: 100%;
    }
  }