.header__lang-list {
  max-width: 1184px;
  max-height: 52px;
  font-weight: 400;
  font-size: 24px;
  font-family: 'Inter';
  line-height: 1.7;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-decoration: none;
  list-style-type: none;
  color: #FFFFFF;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .header__lang-list {
    max-width: 928px;
    max-height: 52px;
  }
 }

@media screen and (max-width: 1023px) {
  .header__lang-list {
    max-width: 720px;
    max-height: 52px;
  }
}

@media screen and (max-width: 767px) {
  .header__lang-list {
    max-width: 288px;
    max-height: 42px;
  }
}