.footer__link {
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #FFFFFF;

  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 18px;
  text-decoration: none;
  transition: opacity .5s ease-in-out;
}

.footer__link:hover {
  opacity: 0.8;
  cursor: url("./../../../images/cursor.png"), pointer;
}

@media screen and (max-width: 767px) {
  .footer__link {
    margin-bottom: 34px;
    font-size: 24px;
    line-height: 24px;
  }
}
