.place__paragraph {
    grid-area: paragraph;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0 auto;
    padding-bottom: 26px;
    max-width: 484px;
 }

  @media screen and (max-width: 1279px) {
    .place__paragraph {
      max-width: 456px;
    }
   }
  
  @media screen and (max-width: 1023px) {
    .place__paragraph {
      max-width: 352px;
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .place__paragraph {
      max-width: 288px;
      font-size: 16px;
    }
  }