.footer__copyright {
  min-width: 186px;
  height: 16px;
  border-radius: nullpx;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;

  color: #FFFFFF;
  list-style-type: none;
}