.footer__copyright {
  margin: 0;
  padding: 0;
  margin-right: 45px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  text-align: right;
  justify-content: flex-end;
  flex-direction: column;

  color: #FFFFFF;
  list-style-type: none;
}