.intro__text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.08px;
  color: #FFFFFF;
  
  max-width: 690px;
  margin-bottom: 33px;
}

@media screen and (max-width: 1279px) {
  .intro__text {
    max-width: 690px;
  }
}

@media screen and (max-width: 1023px) {
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro__text {
    max-width: 288px;
    font-size: 16px;
  }
}