.lead__subtitle {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;

  margin: 0;
  margin-top: 32px;
  padding: 0;
  max-width: 640px;
  min-width: 288px;
  display: flex;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    margin-top: calc(16px + (32 - 16) * ((100vw - 320px) / (767 - 320)));
    font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (767 - 320)));
    line-height: calc(20px + (36 - 20) * ((100vw - 320px) / (767 - 320 )))
    20px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
  }
}