.place__link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;

  transition: opacity .5s ease-in-out;
  margin-top: 12px;
}
.place__link:hover {
  opacity: 0.8;
  cursor: url("./../../../images/cursor.png"), pointer;
}