.cover__overlay {
  max-width: 1184px;
  min-width: 320px;
  min-height: 740px;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("./../../../Images/cover-trains.jpg");
  object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;
  text-decoration: none;
  box-sizing: border-box;
}

.cover__overlay:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: 0.3;
  transition: opacity .5s ease-in-out;
}

.cover__overlay:hover:before {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__overlay {
    min-height: 640px;
  }
 }

@media screen and (max-width: 1023px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    min-height: 200px;
  }
}