.cover__title {
  max-width: 560px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;

  z-index: 1;
  padding-bottom: 0px;
  margin-top: 0px;
}