.lead__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;

  margin: 0 auto;
  max-width: 720px;
  max-height: 200px;
  margin-bottom: 32px;
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 288px;
    max-height: 88px;
    font-size: 40px;
    line-height: 44px;
  }
}