.place {
    width: 984px;
    height: 660px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 40px;
    grid-template-areas: 
      "title website"
      "image paragraph";
}

@media screen and (max-width: 1279px) {
  .place {
    max-height: 640px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: repeat(2, 47.2%);
    column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: repeat(1);
    column-gap: 28px;
  }
}

