.place__url-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
    text-transform: uppercase;
    
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
    max-width: 456px;
}