.intro__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;

    max-width: 690px;
    max-height: 58px;
    margin-bottom: 40px;
}

@media screen and (max-width: 1023px) {
  .intro__title {
    max-width: 720px;
    max-height: 58px;
    padding-left: 24;
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
    max-width: 288px;
    max-height: 70px;
    font-size: 32px;
    line-height: 35px;
  }
}